<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.ArtistMapper">
<select id="artistBoardExistenceCheck" parameterType="int" resultType="int">
	select count(*) from artist_board
	where member_no = #{member_no}
</select>
<select id="artistBoardInsertSeq" resultType="int">
	select artist_board_seq.nextval from dual
</select>
<select id="artistBoardInsert" parameterType="HashMap">
	insert into artist_board 
	values(#{artist_no}, #{member_no}, '안녕하세요 저희 페이지에 방문해주셔서 감사합니다.', 'https://upload.wikimedia.org/wikipedia/commons/1/15/Handmade_Gold_Necklace.jpg', 0, 0, 1)
</select>
<select id="artistBoardDetailArtistInfo" parameterType="int" resultType="com.bitcamp.DTO.member.MemberDTO">
	select member.member_no, user_name, user_nick, user_email, user_address
	from member inner join artist_board
	on member.member_no = artist_board.member_no
	where artist_no = #{artist_no}
</select>
<select id="artistBoardDetailGet" parameterType="int" resultType="com.bitcamp.DTO.artist.ArtistBoardDTO">
	select artist_no, member_no, artist_board_title, artist_main_img, artist_count, artist_score, artist_board_status
	from artist_board
	where artist_no = #{artist_no}
</select>
<update id="artistBoardDetailCountUpdate" parameterType="int">
	update artist_board set 
    artist_count = artist_count+1
    where artist_no = #{artist_no}
</update>
<select id="artistBoardDetailProductListNo" parameterType="HashMap" resultType="int">
	select list_no
    from (select rownum as num , list_no
        from list_board
        where list_artist = #{user_name} and list_status = 1 and rownum <![CDATA[<]]>= #{end_sql}) 
    where num <![CDATA[>]]>= #{start_sql}
</select>
<select id="artistBoardDetailProductListImg" parameterType="int" resultType="String">
	select list_image_loc 
	from list_image_board 
	where list_no = #{list_no}
</select>
<select id="artistBoardDetailBuyReviewList" parameterType="HashMap" resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
	select num, e.*
    from (select rownum as num ,buy_review_date, buy_review_content, buy_review_image_loc, buy_review_score, buy_review_status ,order_board.list_no, list_title ,order_add_option, user_name
        from order_board inner join artist_board
        on order_board.member_no = artist_board.member_no
        inner join buy_review
        on order_board.order_no = buy_review.order_no
        inner join member
        on order_board.member_no = member.member_no
        inner join list_board
        on order_board.list_no = list_board.list_no
        where artist_no = #{artist_no} and buy_review_status = 1 and rownum <![CDATA[<]]>= #{end_sql}  
        order by buy_review_date desc) e
    where num <![CDATA[>]]>= #{start_sql}
</select>
</mapper>