<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.FreeboardMapper">

	<insert id="insertData"
		parameterType="com.bitcamp.DTO.freeboard.FreeboardDTO">
		insert into freeboard
		values(freeboard_seq.nextval,
		#{freeboard_title},
		#{freeboard_content}, to_char(sysdate,'MM.DD HH:MI:SS'), 0, 1,
		#{freeboard_category},
		#{freeboard_member_no})
	</insert>

	<select id="getDetail"
		resultType="com.bitcamp.DTO.freeboard.FreeboardDTO"
		parameterType="int">
		select *
		from freeboard
		where freeboard_no =
		#{freeboard_no}
	</select>

	<update id="modifyData"
		parameterType="com.bitcamp.DTO.freeboard.FreeboardDTO">
		update freeboard set
		freeboard_category =
		#{freeboard_category},
		freeboard_title=#{freeboard_title},
		freeboard_content =
		#{freeboard_content}
		where freeboard_no =
		#{freeboard_no}
	</update>

	<update id="deleteData" parameterType="Int">
		update freeboard
		set
		freeboard_status = 0
		where freeboard_no = #{freeboard_no}
	</update>

	<select id="getSearchList"
		resultType="com.bitcamp.DTO.freeboard.FreeboardDTO"
		parameterType="Object">
			select * from (    
    			select rownum as rnum, A.*
				from (
					select freeboard_no, freeboard_title,
						freeboard_content,
						freeboard_regitime, freeboard_hits,
						freeboard_member_no, user_nick,
						(select count(*) from freeboard_rep
								where freeboard_no = f.freeboard_no and rep_status=1) as freeboard_rep_count
					from
						freeboard f
						LEFT OUTER JOIN member m on
						f.freeboard_member_no =
						m.member_no
					<where>
						freeboard_status = 1
						<include refid="search_category"></include>
					</where>
					order by freeboard_no desc
					) A
					<![CDATA[
						where rownum <= #{endrow} 
					]]>
				)B 
				<![CDATA[
				WHERE rnum >= #{startrow} 
				]]>
	</select>

	<update id="updateHits" parameterType="int">
		update freeboard
		set
		freeboard_hits = freeboard_hits+1
		where freeboard_no = #{freeboard_no}
	</update>

	<select id="getListCount" parameterType="Object"
		resultType="int">
		select count(*) from freeboard
		<where>
			<include refid="search_board"></include>
			<include refid="search_category"></include>
		</where>
	</select>


	<sql id="search_board">
		<if test="searchType=='제목'">
			and freeboard_title like '%'||#{searchKeyword}||'%'
		</if>
		<if test="searchType=='닉네임'">
			and user_nick like '%'||#{searchKeyword}||'%'
		</if>
	</sql>
	<sql id="search_category">
		<if test="freeboard_category !='전체'">
			and freeboard_category = #{freeboard_category}
		</if>
	</sql>

</mapper>