<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.MyPageMapper">
	<select id="findList_title" parameterType="int"
		resultType="String">
		select list_title from list_board where list_no=#{list_no}
	</select>
	<select id="findOption" parameterType="int"
		resultType="java.util.HashMap">
		select order_add_option, order_amount, ordermade_no from
		order_board where
		order_no=#{order_no}
	</select>
	<select id="findOption_name" parameterType="int"
		resultType="String">
		select option_name from list_option_board where
		option_no=#{option_no}
	</select>
	<select id="findOption_price" parameterType="int"
		resultType="java.lang.Integer">
		select option_price from list_option_board where
		option_no=#{option_no}
	</select>
	<select id="findImage_loc" parameterType="int"
		resultType="String">
		select list_image_loc from list_image_board where
		list_no=#{list_no}
	</select>
	<update id="updateUserInfo"
		parameterType="com.bitcamp.DTO.member.MemberDTO">
		update member set
		user_name=#{user_name},
		user_nick=#{user_nick},
		user_email=#{user_email},
		user_address=#{user_address},
		user_call=#{user_call} where
		member_no=#{member_no}
	</update>
	<update id="updateUser_password"
		parameterType="java.util.HashMap">
		update member set
		user_password=#{newPwd}
		where
		member_no=#{member_no}
	</update>
	<insert id="insertCQA" parameterType="java.util.HashMap">
		insert into
		customer_qa_board(question_no, member_no, question_title,
		question_content, question_date, answer_status,
		question_delete_status, question_type)
		values(customer_qa_board_seq.nextval, #{member_no}, #{question_title},
		#{question_content}, sysdate, '대기', 1, #{question_type})
	</insert>
	<update id="withdraw" parameterType="String">
		update member set
		user_status=0 where user_id=#{user_id}
	</update>
	<!-- -->
	<select id="getBuyCount" parameterType="Object" resultType="int">
		select count(*) from order_board where
		member_no=#{member_no}
	</select>
	<select id="getBuyList"
		resultType="com.bitcamp.DTO.order.OrderDTO" parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		order_board where member_no=#{member_no} order
		by order_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getBuyerPQACount" parameterType="Object"
		resultType="int">
		select count(*) from qa_board where member_no=#{member_no}
		and
		qa_board_parent_no is null and qa_board_delete_status=1
	</select>
	<select id="getBuyerPQAList"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO"
		parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from qa_board
		where member_no=#{member_no} and
		qa_board_parent_no is null and
		qa_board_delete_status=1 order by
		qa_board_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getBuyerReviewCount" parameterType="Object"
		resultType="int">
		select count(*) from order_board ob inner join buy_review
		br on
		ob.order_no=br.order_no where member_no=#{member_no} and
		buy_review_status=1
	</select>
	<select id="getBuyerReviewList"
		resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO"
		parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		order_board ob inner join buy_review br on
		ob.order_no=br.order_no
		where member_no=#{member_no} and
		buy_review_status=1 order by
		buy_review_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getRegisterCount" parameterType="Object"
		resultType="int">
		select count(*) from list_board where
		upper(list_artist)=upper(#{user_id}) and list_status=1
	</select>
	<select id="getRegisterList"
		resultType="com.bitcamp.DTO.Product.ListDTO" parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		list_board where
		upper(list_artist)=upper(#{user_id}) and list_status=1
		order by
		list_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getSellCount" parameterType="Object"
		resultType="int">
		select count(*) from order_board ob inner join list_board
		lb on
		ob.list_no=lb.list_no inner join member m on
		upper(lb.list_artist)=upper(m.user_id)
		where
		upper(lb.list_artist)=upper(#{user_id})
	</select>
	<select id="getSellList"
		resultType="com.bitcamp.DTO.order.OrderDTO" parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		order_board ob inner join list_board lb on
		ob.list_no=lb.list_no inner
		join member m on
		upper(lb.list_artist)=upper(m.user_id)
		where
		upper(lb.list_artist)=upper(#{user_id}) order by order_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getSellerPQACount" parameterType="Object"
		resultType="int">
		select count(*) from qa_board qb inner join list_board lb
		on
		qb.list_no=lb.list_no where upper(list_artist)=upper(#{user_id}) and
		member_no!=#{member_no} and
		qa_board_delete_status=1
	</select>
	<select id="getSellerPQAList"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO"
		parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from qa_board
		qb inner join list_board lb on
		qb.list_no=lb.list_no where
		upper(list_artist)=upper(#{user_id}) and
		member_no!=#{member_no} and
		qa_board_delete_status=1 order
		by
		qa_board_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="getSellerReviewCount" parameterType="Object"
		resultType="int">
		select count(*) from list_board lb inner join order_board
		ob on
		lb.list_no=ob.list_no inner join buy_review br on
		ob.order_no=br.order_no where upper(list_artist)=upper(#{user_id}) and
		buy_review_status=1
	</select>
	<select id="getSellerReviewList"
		resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO"
		parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		list_board lb inner join order_board ob on
		lb.list_no=ob.list_no inner
		join buy_review br on
		ob.order_no=br.order_no where
		upper(list_artist)=upper(#{user_id}) and buy_review_status=1
		order by
		buy_review_date desc
		) A
				<![CDATA[
					where rownum <= #{endrow} 
				]]>
		)B 
			<![CDATA[
			WHERE rnum >= #{startrow} 
			]]>
	</select>
	<!-- -->
	<select id="findBuyer" parameterType="int"
		resultType="com.bitcamp.DTO.member.MemberDTO">
		select * from member where member_no=#{member_no}
	</select>
	<!-- Completion of receipt -->
	<update id="cor" parameterType="int">
		update order_board set
		order_status='배송완료' where order_no=#{order_no}
	</update>
	<!-- Review writing -->
	<select id="buyReviewInsertSeq" resultType="int">
		select
		buy_review_seq.nextval from dual
	</select>
	<insert id="buyReviewInsert"
		parameterType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
		insert into buy_review(buy_review_no, order_no,
		buy_review_date,
		buy_review_content, buy_review_image_loc,
		buy_review_score,
		buy_review_status)
		values(#{buy_review_no},
		#{order_no}, sysdate, #{buy_review_content}, #{buy_review_image_loc},
		#{buy_review_score}, 1)
	</insert>
	<select id="buyReviewInsertCheck" parameterType="int"
		resultType="int">
		select count(*) from buy_review
		where buy_review_no =
		#{buy_review_no}
	</select>
	<!-- Purchase completion -->
	<update id="pc" parameterType="int">
		update order_board set
		order_status='구매완료' where order_no=#{order_no}
	</update>
	<select id="findOrderDTO" parameterType="int"
		resultType="com.bitcamp.DTO.order.OrderDTO">
		select * from order_board where order_no=#{order_no}
	</select>
	<select id="findPA" parameterType="int"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO">
		select
		qa_board_no,
		qa_board_content from qa_board where
		qa_board_parent_no=#{qa_board_no} and
		qa_board_delete_status=1
	</select>
	<select id="findQABoardDTO" parameterType="int"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO">
		select * from qa_board where qa_board_no=#{qa_board_no}
	</select>
	<update id="updateQa_board_content"
		parameterType="java.util.HashMap">
		update qa_board set qa_board_content=#{qa_board_content}
		where
		qa_board_no=#{qa_board_no}
	</update>
	<update id="updateQa_board_delete_status" parameterType="int">
		update
		qa_board set qa_board_delete_status=0 where
		qa_board_no=#{qa_board_no}
	</update>
	<select id="findBuyReviewDTO" parameterType="int"
		resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
		select * from buy_review where
		buy_review_no=#{buy_review_no}
	</select>
	<update id="updateBuy_review_content"
		parameterType="java.util.HashMap">
		update buy_review set
		buy_review_content=#{buy_review_content}
		where
		buy_review_no=#{buy_review_no}
	</update>
	<update id="updateBuy_review_status" parameterType="int">
		update
		buy_review set buy_review_status=0 where
		buy_review_no=#{buy_review_no}
	</update>
	<update id="updateList_status" parameterType="int">
		update list_board
		set list_status=0 where list_no=#{list_no}
	</update>
	<!-- Shipment processing -->
	<update id="sp" parameterType="int">
		update order_board set
		order_status='배송중' where order_no=#{order_no}
	</update>
	<!-- -->
	<select id="getCQACount" parameterType="Object" resultType="int">
		select count(*) from customer_qa_board where
		member_no=#{member_no}
	</select>
	<select id="getCQAList"
		resultType="com.bitcamp.DTO.customerqaboard.CustomerQABoardDTO"
		parameterType="Object">
		select * from (
		select rownum as rnum, A.*
		from (
		select * from
		customer_qa_board where
		member_no=#{member_no} order by question_date
		desc
		) A
					<![CDATA[
						where rownum <= #{endrow} 
					]]>
		)B 
				<![CDATA[
				WHERE rnum >= #{startrow} 
				]]>
	</select>
	<!-- -->
	<insert id="insertPQA"
		parameterType="com.bitcamp.DTO.productdetail.QABoardDTO">
		insert into qa_board values(qa_board_seq.nextval,
		#{list_no}, #{member_no}, sysdate, #{qa_board_content}, 0, '답변', 1,
		#{qa_board_parent_no})
	</insert>
	<!-- unanswered -->
	<update id="updateQa_board_statusU" parameterType="int">
		update
		qa_board set
		qa_board_status='미답변'
		where
		qa_board_no=#{qa_board_no}
	</update>
	<!-- answered -->
	<update id="updateQa_board_statusA" parameterType="int">
		update
		qa_board
		set qa_board_status='답변' where qa_board_no=#{qa_board_no}
	</update>
</mapper>