<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.MyPageMapper">
	<select id="findList_title" parameterType="int"
		resultType="String">
		select list_title from list_board where list_no=#{list_no}
	</select>
	<select id="findOption" parameterType="int"
		resultType="java.util.HashMap">
		select order_add_option, order_amount, ordermade_no from
		order_board where
		order_no=#{order_no}
	</select>
	<select id="findOption_name" parameterType="int"
		resultType="String">
		select option_name from list_option_board where
		option_no=#{option_no}
	</select>
	<update id="updateUserInfo"
		parameterType="com.bitcamp.DTO.member.MemberDTO">
		update member set
		user_name=#{user_name},
		user_nick=#{user_nick},
		user_email=#{user_email},
		user_address=#{user_address},
		user_call=#{user_call} where
		member_no=#{member_no}
	</update>
	<update id="updateUserPassword"
		parameterType="java.util.HashMap">
		update member set
		user_password=#{newPwd}
		where
		member_no=#{member_no}
	</update>
	<insert id="insertCQA" parameterType="java.util.HashMap">
		insert into
		customer_qa_board(question_no, member_no, question_title,
		question_content, question_date, answer_status,
		question_delete_status, question_type)
		values(customer_qa_board_seq.nextval, #{member_no}, #{question_title},
		#{question_content}, sysdate, '답변대기', 1, #{question_type})
	</insert>
	<update id="withdraw" parameterType="String">
		update member set
		user_status=0 where user_id=#{user_id}
	</update>
	<select id="buyList" parameterType="int"
		resultType="com.bitcamp.DTO.order.OrderDTO">
		select * from
		order_board where member_no=#{member_no} order
		by order_date desc
	</select>
	<select id="cQAList" parameterType="int"
		resultType="com.bitcamp.DTO.customerqaboard.CustomerQABoardDTO">
		select * from customer_qa_board where
		member_no=#{member_no} order by question_date desc
	</select>
	<select id="buyerPQList" parameterType="int"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO">
		select * from qa_board where member_no=#{member_no} order
		by
		qa_board_date desc
	</select>

	<select id="buyerReviewList" parameterType="int"
		resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
		select * from order_board ob inner join buy_review br on
		ob.order_no=br.order_no where member_no=#{member_no} order by
		buy_review_date desc
	</select>
	<select id="registerList" parameterType="String"
		resultType="com.bitcamp.DTO.Product.ListDTO">
		select * from list_board where
		upper(list_artist)=upper(#{user_id}) order by list_date desc
	</select>
	<select id="sellList" parameterType="String"
		resultType="com.bitcamp.DTO.order.OrderDTO">
		select * from order_board ob inner join list_board lb on
		ob.list_no=lb.list_no inner join member m on
		upper(lb.list_artist)=upper(m.user_id)
		where
		upper(lb.list_artist)=upper(#{user_id}) order by order_date desc
	</select>
	<select id="sellerPQAList" parameterType="String"
		resultType="com.bitcamp.DTO.productdetail.QABoardDTO">
		select * from qa_board qb inner join list_board lb on
		qb.list_no=lb.list_no where upper(list_artist)=upper(#{user_id}) order
		by
		qa_board_date desc
	</select>
	<select id="sellerReviewList" parameterType="String"
		resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
		select * from list_board lb inner join order_board ob on
		lb.list_no=ob.list_no inner join buy_review br on
		ob.order_no=br.order_no where upper(list_artist)=upper(#{user_id})
		order by
		buy_review_date desc
	</select>
	<select id="findBuyer" parameterType="int"
		resultType="com.bitcamp.DTO.member.MemberDTO">
		select * from member where member_no=#{member_no}
	</select>
	<!-- Completion of receipt -->
	<update id="cor" parameterType="int">
		update order_board set
		order_status='배송완료' where order_no=#{order_no}
	</update>
	<!-- Review writing -->
	<select id="buyReviewInsertSeq" resultType="int">
		select
		buy_review_seq.nextval from dual
	</select>
	<insert id="buyReviewInsert"
		parameterType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
		insert into buy_review(buy_review_no, order_no,
		buy_review_date,
		buy_review_content, buy_review_image_loc,
		buy_review_score,
		buy_review_status)
		values(#{buy_review_no},
		#{order_no}, sysdate, #{buy_review_content}, #{buy_review_image_loc},
		#{buy_review_score}, 1)
	</insert>
	<select id="buyReviewInsertCheck" parameterType="int"
		resultType="int">
		select count(*) from buy_review
		where buy_review_no =
		#{buy_review_no}
	</select>
	<!-- Purchase completion -->
	<update id="pc" parameterType="int">
		update order_board set
		order_status='구매완료' where order_no=#{order_no}
	</update>
	<select id="findOrderDTO" parameterType="int"
		resultType="com.bitcamp.DTO.order.OrderDTO">
		select * from order_board where order_no=#{order_no}
	</select>
</mapper>