<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.ProductListMapper">
	<select id="getList" parameterType="HashMap" resultType="com.bitcamp.DTO.Product.ListDTO">
	select list_no, list_artist, list_title, list_product, list_category, list_content, list_base_price, list_date, buy_count, isordered, ordered_content, list_status
	from(
		select lbb.*, rownum as rnum
		from(
			select distinct lb.*
			from list_board lb, list_option_board lob, list_hash_tag lht 
			where lb.list_no = lob.list_no and lob.list_no = lht.list_no
				<if test="searchType == 'artist'">
					AND lb.list_artist like '%'||#{searchData}||'%'
				</if>
				<if test="searchType == 'title'">
					AND lb.list_title like '%'||#{searchData}||'%'
				</if>
				<if test="searchType == 'product'">
					AND lb.list_product like '%'||#{searchData}||'%'
				</if>
				<if test="list_category != null">
					AND lb.list_category like '%'||#{list_category}||'%'
				</if>
				<if test="hashTag != null">
					AND lht.list_hash in 
					<foreach item="hash" index="index" collection="hashTag" separator="," open="(" close=")">
						#{hash}
					</foreach>
				</if>
				<if test="hasStock != 0">
					AND lob.option_stock != 0
				</if>
				<if test="status != 0">
					AND lb.list_status = 1
				</if>
				<if test="isordered == 0">
					AND lb.isordered = 0
				</if>
				<if test="isordered == 1">
					AND lb.isordered = 1
				</if>
				order by lb.list_no
			) lbb
			where rownum<![CDATA[ <= ]]>#{PageDTO.endrow}
		)
		where rnum<![CDATA[ >= ]]>#{PageDTO.startrow}
	</select>
	<select id="getCount" parameterType="HashMap" resultType="int">
	select count(*)
	from(
		select lbb.*
		from(
			select distinct lb.*
			from list_board lb, list_option_board lob, list_hash_tag lht 
			where lb.list_no = lob.list_no and lob.list_no = lht.list_no
				<if test="searchType == 'artist'">
					AND lb.list_artist like '%'||#{searchData}||'%'
				</if>
				<if test="searchType == 'title'">
					AND lb.list_title like '%'||#{searchData}||'%'
				</if>
				<if test="searchType == 'product'">
					AND lb.list_product like '%'||#{searchData}||'%'
				</if>
				<if test="list_category != null">
					AND lb.list_category like '%'||#{list_category}||'%'
				</if>
				<if test="hashTag != null">
					AND lht.list_hash in 
					<foreach item="hash" index="index" collection="hashTag" separator="," open="(" close=")">
						#{hash}
					</foreach>
				</if>
				<if test="hasStock != 0">
					AND lob.option_stock != 0
				</if>
				<if test="status != 0">
					AND lb.list_status = 1
				</if>
				order by lb.list_no
			) lbb
		)
		
	</select> 
	<select id="getImages" parameterType="int" resultType="String">
		select list_image_loc 
		from list_image_board
		where list_no = #{list_no}
	</select>
	<select id="getHash" parameterType="int" resultType="String">
	select list_hash
	from(
		select lbb.*, rownum as rnum
		from(
			select distinct lht.list_hash
			from list_hash_tag lht
			) lbb
		where rownum<![CDATA[ <= ]]>#{hashPage}
		)
	</select>
	<select id="getHashSearch" parameterType="String" resultType="String">
	select list_hash
	from(
		select lbb.*, rownum as rnum
		from(
			select distinct lht.list_hash
			from list_hash_tag lht
			where list_hash like '%'||#{searchData}||'%'
			) lbb
		where rownum<![CDATA[ <= ]]>5
		) 
	</select>
	<insert id="insertPerfectOrderData" parameterType="com.bitcamp.DTO.Product.ListDTO">
		<selectKey resultType="integer" order="AFTER">
			select seq_list_no.currval from dual
		</selectKey>
		insert into list_board(list_no, list_artist, list_title, list_product, list_category, list_content, list_base_price, list_date, isordered)
		values(seq_list_no.nextval, #{list_artist}, #{list_title}, #{list_product}, #{list_category}, #{list_content}, #{list_base_price}, sysdate, 0)
	</insert>
	<insert id="insertOrderMadeData" parameterType="com.bitcamp.DTO.Product.ListDTO">
		<selectKey resultType="integer" order="AFTER">
			select seq_list_no.currval from dual
		</selectKey>
		insert into list_board(list_no, list_artist, list_title, list_product, list_category, list_content, list_base_price, list_date, isordered, ordered_content)
		values(seq_list_no.nextval, #{list_artist}, #{list_title}, #{list_product}, #{list_category}, #{list_content}, #{list_base_price}, sysdate, 1, #{ordered_content})
	</insert>
	<insert id="insertListMainImages" parameterType="HashMap">
		insert into list_image_board(list_image_no, list_no, list_image_loc)
		select seq_list_image_no.nextval, A.* from(
		<foreach item="image_loc" collection="list_image_loc" separator="UNION ALL ">
			select max(list_no) as list_no,
					#{image_loc} as list_image_loc
			from list_board
		</foreach>
		) A
	</insert>
	<insert id="insertListHashTag" parameterType="HashMap">
		insert into list_hash_tag(hash_no, list_no, list_hash)
		select seq_hash_no.nextval, A.* from(
		<foreach item="hashv" collection="list_hash" separator="UNION ALL ">
			select max(list_no) as list_no,
					#{hashv} as list_hash
			from list_board
		</foreach>
		) A
	</insert>
	<insert id="insertListOptionData" parameterType="HashMap">
		insert into list_option_board(option_no, list_no, option_name, option_stock, option_price)
		select seq_option_no.nextval, A.* from(
		<foreach item="opt" collection="list_option" separator="UNION ALL ">
			select max(list_no) as list_no,
					#{opt.option_name} as option_name,
					#{opt.option_stock} as option_stock,
					#{opt.option_price} as option_price
			from list_board
		</foreach>
		) A
	</insert>
	<insert id="insertOrderData" parameterType="HashMap">
		insert into list_order_board(list_order_no, list_no, order_name, order_option)
		select seq_list_order_no.nextval, A.* from(
		<foreach item="ord" collection="list_order" separator="UNION ALL ">
			select max(list_no) as list_no,
					#{ord.order_name} as order_name,
					#{ord.order_option} as order_option
			from list_board
		</foreach>
		) A
	</insert>
	<select id="getAllImages" resultType="String">
		select list_image_loc
		from list_image_board
	</select>
	<select id="getNoList" parameterType="int" resultType="com.bitcamp.DTO.Product.ListDTO">
		select list_no, list_title, list_product, list_base_price, ordered_content, isordered
		from list_board
		where list_no = #{no}
	</select>
	<select id="getOrderOptionList" parameterType="int" resultType="com.bitcamp.DTO.Product.OrderOptionDTO">
		select list_order_no, order_name, order_option
		from list_order_board
		where list_no = #{no}
	</select>
	<insert id="insertOrderOptionData" parameterType="com.bitcamp.DTO.Product.OrderValueDTO">
		insert into list_order_member_board 
		values(seq_list_order_member_no.nextval, #{member_no}, #{list_order_no}, #{order_value})
	</insert>
	<select id="getListOrderMember" resultType="int">
		select nvl(max(list_order_member_no),0)
		from list_order_member_board
	</select>
</mapper>