<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.ProductDetailMapper">
<select id="productDetailGet" parameterType="int" resultType="com.bitcamp.DTO.Product.ListDTO">
	select list_no, list_artist, list_title, list_product, list_content, list_status
	, list_base_price, list_date, isordered, ordered_content
	from list_board 
	where list_no = #{list_no}
</select>
<select id="productDetailImgGet" parameterType="int" resultType="String">
	select list_image_loc 
	from list_image_board
	where list_no = #{list_no}
</select>
<select id="productDetailOptionGet" parameterType="int" resultType="com.bitcamp.DTO.productdetail.ProductDetailOptionListDTO">
	select option_no ,option_name, option_stock, option_price
	from list_option_board
	where list_no = #{list_no}
</select>
<select id="productDetailArtistGet" parameterType="String" resultType="com.bitcamp.DTO.member.MemberDTO">
	select member_no ,user_nick, user_name, user_address, user_call, user_email
	from member
	where user_id = #{user_id}
</select>
<select id="productDetailArtistBoardGet" parameterType="int" resultType="Integer" >
	select artist_no
	from artist_board
	where member_no = #{member_no}
</select>
<update id="productDelete" parameterType="HashMap">
	update list_board set
	list_status = 0
	where list_no = #{list_no} and list_artist = #{user_id}
</update>
<select id="productDeleteCheck" parameterType="int" resultType="int">
	select list_status
	from list_board
	where list_no = #{list_no}
</select>
<select id="productDetailQandAInsertSeq" resultType="int">
	select qa_board_seq.nextval from dual
</select>
<insert id="productDetailQandAInsert" parameterType="com.bitcamp.DTO.productdetail.QABoardDTO">
	insert into qa_board(qa_board_no, list_no, member_no, qa_board_date, qa_board_content, qa_board_secret
	, qa_board_status, qa_board_delete_status)
	values(#{qa_board_no}, #{list_no}, #{member_no}, sysdate, #{qa_board_content}, #{qa_board_secret}
	, '미답변', 1 )
</insert>
<select id="productDetailQandAInsertCheck" parameterType="int" resultType="int">
	select count(*) from qa_board
	where qa_board_no = #{qa_board_no}
</select>
<select id="productDetailQandAList" parameterType="com.bitcamp.DTO.productdetail.QABoardDTO" resultType="com.bitcamp.DTO.productdetail.QABoardDTO">
 	 select num, e.*
 	 from (select rownum as num,qa_board_no, list_no, qa_board.member_no, qa_board_date, qa_board_content, qa_board_secret, qa_board_status
	, qa_board_parent_no, qa_board_delete_status, user_name, level
	from qa_board inner join member
	on qa_board.member_no = member.member_no
	where rownum <![CDATA[<]]>= #{end_sql} and list_no = #{list_no}
	start with qa_board_parent_no is null
    connect by prior qa_board_no = qa_board_parent_no
    order siblings by qa_board_date desc) e
	where num <![CDATA[>]]>= #{start_sql} and qa_board_delete_status = 1
</select>
<select id="productDetailOrderResultList" resultType="com.bitcamp.DTO.productdetail.OrderResultDTO">
	select list_order_board.list_order_no ,order_name, order_option, order_value
	from list_order_member_board inner join list_order_board
	on list_order_member_board.list_order_no = list_order_board.list_order_no
	<where>
		<foreach collection="list" item="item" index="i" separator="or">
			list_order_member_no = #{item}
		</foreach>
	</where>
</select>
<select id="buyReviewInsertSeq" resultType="int">
	select buy_review_seq.nextval from dual
</select>
<insert id="buyReviewInsert" parameterType="com.bitcamp.DTO.productdetail.BuyReviewDTO" >
	insert into buy_review(buy_review_no, order_no, buy_review_date, buy_review_content, buy_review_image_loc, buy_review_score, buy_review_status)
	values(#{buy_review_no}, #{order_no}, sysdate, #{buy_review_content}, #{buy_review_image_loc}, #{buy_review_score}, 1)
</insert>
<select id="buyReviewInsertCheck" parameterType="int" resultType="int">
	select count(*) from buy_review
	where buy_review_no = #{buy_review_no}
</select>
<select id="productDetailBuyReviewList" parameterType="com.bitcamp.DTO.productdetail.BuyReviewDTO" resultType="com.bitcamp.DTO.productdetail.BuyReviewDTO">
	select num, e.*
from (select rownum as num ,buy_review_no, buy_review_date, buy_review_content, buy_review_image_loc, buy_review_score, buy_review_status, buy_review.order_no, order_add_option, user_name
	from buy_review inner join order_board
	on buy_review.order_no = order_board.order_no
 	inner join member
	on order_board.member_no = member.member_no
	where rownum <![CDATA[<]]>= #{end_sql} and order_board.list_no = #{list_no}
    order by buy_review_date desc) e
    where num <![CDATA[>]]>= #{start_sql} and buy_review_status = 1
</select>
</mapper>
  