<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bitcamp.mapper.ProductListMapper">
	<select id="getList" parameterType="HashMap" resultType="ProductDTO">
		select distinct lb.*
		from list_board lb, list_option_board lob, list_hash_tag lht 
		where lb.list_no = lob.list_no and lob.list_no = lht.list_no
			<if test="searchType == 'artist'">
				AND lb.list_artist = #{searchData}
			</if>
			<if test="searchType == 'title'">
				AND lb.list_title like '%'||#{searchData}||'%'
			</if>
			<if test="searchType == 'product'">
				AND lb.list_product like '%'||#{searchData}||'%'
			</if>
			<if test="list_category != null">
				AND lb.list_category = #{list_category}
			</if>
			<if test="hashTag != null">
				AND lht.list_hash in 
				<foreach item="hash" index="index" collection="hashTag" separator="," open="(" close=")">
					#{hash.value}
				</foreach>
			</if>
			<if test="hasStock != 0">
				AND lob.option_stock != 0
			</if>
			<if test="status != 0">
				AND lb.list_status = 1
			</if>
	</select>
</mapper>